/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running orion-specific pipeline on Athena workstation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/mcmicro -profile athena --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Athena workstation profile'
    config_profile_description = 'Orion-specific pipeline on Athena workstation'
}

tower.enabled = true

docker.enabled    = true
docker.runOptions = '-u $(id -u):$(id -g) --gpus all'

process {
    withLabel : 'process_.*' {
        cpus        = 1
        memory      = { 2.GB * task.attempt }
        time        = { 48.h * task.attempt }
    }

    withName: 'ASHLAR' {
        container   = 'docker.io/yuanchen12/rcashlar:2026.4.1'

        maxForks    = 2

        memory      = { 12.GB * task.attempt }
    }
    withName: 'MCCELLPOSE' {
        maxForks   = 1

        cpus       = 3
        memory     = { 6.GB * task.attempt }

        ext.args   = { "--output-nucleus ${meta.id}_nucleus_mask.ome.tif --use-gpu --jobs 3" }
    }
    withName: 'MCQUANT' {
        memory     = { 32.GB * task.attempt }
        maxRetries = 3
    }
    withName: 'COMPRESS_PYSED' {
        maxForks    = 1
    }
}
